* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --powder-100: hsl(205, 46%, 92%);
  --powder-500: hsl(205, 41%, 63%);
  --blue-600: hsl(206, 100%, 40%);
  --theme-button-color: var(--blue-600);
  --error: #e7195a;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #fff;
  max-width: 1400px;
  margin: 0 auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* header styles */

header {
  top: 0;
  left: 0;
  width: 100vw;
  padding: 0 50px;
  position: fixed;
  z-index: 50;
  background: #f2f2f2;
}

header .container {
  height: 50px;
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.logo {
  font-weight: 900;
  font-size: 2em;
}

.navbar {
  flex: 1;
  display: flex;
  align-items: center;
}

.navbar ul {
  display: flex;
}

.navbar ul li {
  list-style: none;
  margin-left: 1.5em;
}

.navbar form {
  flex: 1;
  margin-left: 1.5em;
}

.searchbar {
  width: 100%;
  padding: 5px 10px;
}

.user-details {
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.user-details>span {
  margin-right: 10px;
}

.btn {
  margin-left: .3em;

}

a {
  text-decoration: none;
  /* not necessary after logo */
  color: black;
}

.btn a {
  padding: 5px;
  margin-left: .5em;
  border-radius: 4px;
  cursor: pointer;
  border: 1px solid var(--powder-500);
  padding: 5px;
}

.login-btn,
.signup-btn {
  background: var(--powder-100);
  border-color: var(--powder-500);
}

/* Login and signup styles */

.login-form,
.signup-form {
  max-width: 400px;
  margin: 150px auto;
  padding: 20px;
  border-radius: 5px;
  background: #f1f1f1;
}

form h3 {
  margin-bottom: 20px;
}

label,
input {
  display: block;
}

.login-form input,
.signup-form input {
  width: 100%;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  border: 1px solid #ddd;
  margin: 10px 0;
}

.login-form button,
.signup-form button {
  margin-top: 20px;
}

.showpass {
  display: flex;
  align-items: center;
}

button {
  border-radius: 5px;
  cursor: pointer;
  padding: 10px;
  border: 0;
  background: var(--blue-600);
  color: #fff;
}

/* Dashboard styles */

.row {
  margin-top: 50px;
  width: 100%;
  display: flex;
  /* padding-top: 20px; */
  padding-right: 70px;
}

/* Ask question styles */
.askquestionContainer {
  margin-top: 50px;
  padding: 3em 4em;
}

.askquestionContainer h3 {
  font-size: 25px;
  font-weight: 400;
}

.askquestion {
  display: grid;
  grid-template-columns: 5fr 2fr;
  column-gap: 1.5em;
  padding-top: 2em;
}

.question form .fillquestion {
  background: #fff;
  border-radius: 3px;
}

.fillquestion {
  padding: 1em;
}

.fillquestion input,
label,
textarea {
  display: block;
  width: 100%;
}

.fillquestion input,
textarea {
  padding: .5em;
  margin-bottom: 1em;
}

.fillquestion label {
  font-weight: 600;
}

.fillquestion p {
  font-size: 12px;
  padding: 5px 0;
}

.fillquestion textarea {
  resize: none;
}

/* Tags styles */
.react-tags-wrapper li {
  list-style: none;
  cursor: pointer;
  margin-top: -10px;
}

.tag-wrapper {
  display: inline !important;
  margin-right: 5px !important;
  background: var(--powder-100);
  padding: 5px !important;
  border-radius: 3px;
  margin-bottom: 10px;
}

.tag-wrapper button {
  border: none;
  margin-left: 5px !important;
  background: transparent;
  font-size: 10px;
  cursor: pointer;
}

/* Accordion styles */
.accordion {
  background: #fff;
  border-radius: 3px;
  height: fit-content;
}

.accordion>p {
  padding: 1em;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  background: #fcfcfc;
  border-bottom: 1px solid rgb(241, 241, 241);
}

.accordion-text {
  padding: 1em;
}

.accordion-text p {
  margin-bottom: 1em;
  font-size: 14px;
}

/* error handling styles */
div.error {
  padding: 10px;
  background: #fff;
  border: 1px solid var(--error);
  color: var(--error);
  border-radius: 4px;
  margin: 20px 0;
}

.error {
  border: 1px solid var(--error);
}

/* Sidebar styles */
.sidebar {
  position: fixed;
  width: 200px;
  height: 100vh;
  z-index: 20;
  background: #fff;
  padding-left: 30px;
  color: gray;
  border: 0;
  font-size: 14px;
  border-right: 1px solid #ddd;
}

.sidebar nav {
  padding-top: 30px;
}

.sidebar li {
  list-style-type: none;
  padding: 10px;
  padding-right: 0px;
  cursor: pointer;
}

.move-left {
  margin-left: 20px;
}

.icons {
  margin-right: 5px;
  display: inline;
}

.hide {
  display: none;
}

.active {
  background: #ddd;
  font-weight: 600;
  border: 0px;
  border-right: 3px solid orangered;
  color: black;
  display: flex;
  align-items: center;
}

.sidebar li:hover {
  color: black;
}

.sidebar span {
  text-transform: uppercase;
  margin-bottom: 10px;
  font-size: 12px;
}

/* Main styles */

.main {
  position: relative;
  display: grid;
  grid-template-columns: 4fr 2fr;
  margin-left: 200px;
  margin-top: 20px;
  /* width: 100%; */
}

.top-header {
  margin: 20px;
  margin-top: 0;
  padding-bottom: 10px;
}

.heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.heading h4 {
  font-weight: 400;
  font-size: 30px;
}

.questions-link {
  border-top: 1px solid #ddd;
  padding: 10px;
  padding-left: 50px;
}

.questions-link a {
  color: hwb(206deg 0% 20%);
  font-size: 20px;
}

.questions-link p {
  font-size: 14px;
}

.tags-sec {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  font-size: 14px;
}

.tags {
  border-radius: 5px;
  cursor: pointer;
  padding: 5px;
  border: 0;
  background: var(--powder-100);
  color: var(--powder-500);
  margin-right: 5px;
}

.right {
  background: hwb(47deg 89% 1%);
  border-radius: 5px;
  margin-left: 30px;
  height: fit-content;
}

.right li {
  list-style-type: none;
}

.list-head {
  display: block;
  width: 100%;
  font-weight: 600;
  padding: 10px;
  background: hwb(47deg 74% 6%);
}

.round {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.list {
  display: flex;
  font-size: 14px;
  padding: 10px;
}

.list span {
  margin-left: 10px;
}

.time {
  display: flex;
}

.time>span {
  margin-left: 10px
}

/* question details page styles */
.details {
  width: 100%;
  margin-left: 200px;
}

.detail-main {
  position: relative;
  display: grid;
  grid-template-columns: 4fr 2fr;
  margin-top: 20px;
  padding: 0 20px;
}

.border {
  margin-top: 20px;
  border-bottom: 2px solid #ddd;
}

/* working on responsiveness */

/* navbar */

@media (max-width:1023px) {
  .navbar ul {
    display: none;
  }
}

@media (max-width:767px) {
  .navbar form {
    display: none;
  }

  .user-details,
  .navbar .btn {
    margin-left: auto;
  }

  .logo {
    font-size: 1.2em;
  }
}

@media (max-width:424px) {
  .logo {
    font-size: 1em;
  }

  header {
    padding: 0 20px;
  }
}

/* ask question */
@media (max-width:767px) {
  .askquestionContainer {
    margin-top: 50px;
    padding: 3em 1.5em;
  }

  .askquestion {
    display: block;
  }

  .accordion {
    display: none;
  }
}

/* dashboard */
@media (max-width:1023px) {
  .row {
    padding-right: 20px;
  }

  .main,
  .detail-main {
    display: block;
  }

  .right {
    display: none;
  }

  .questions-link {
    padding: 0 30px;
  }
}

@media (max-width: 767px) {
  .sidebar {
    display: none;
  }

  .main,
  .details {
    margin-left: 0px;
  }

  .row {
    padding-right: 0px;
  }

  .heading h4 {
    font-weight: 500;
    font-size: 20px;
  }
}